*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-style: none;
    font-family: 'Quando', serif;
    font-size: 13pt;
    box-shadow: none;
}

a{
    text-decoration: none;
}
h1{
    font-size: 3em;
    text-align: center;
}
h2{
    font-size: 2em;
    text-align: center;
}
ul, footer{
    padding: 0 10px;
}
li{
    display: inline;

    margin: 0 10px;
}
