/*  */
:root{
    --x: 1px;
    --y: 1px;
    --spread: 30px;
    --shadow: rgba(226, 150, 226, 0.342);       /* #cf72cf */
    --color1:#e6cbcc; 
    --color2:#bdd6ee; 
    --color3:#eedbb3; 
    --color4:#dad3b9;
}
body{
    background: linear-gradient(to bottom, rgb(233, 195, 217), 80%, rgb(241, 147, 183));
    background-size: 100vh 100vw;
}
header{
    background-color: hsl(325, 46%, 94%);
}
h1{
    padding: 5px 0;
}
nav{
    padding: 10px 0;
}
nav, footer{
    background-color: rgb(241, 147, 183);
}
a, a:visited{
    color: white;
}
button{
    color: #92279286;
    background-color: #f1b5f1;
    
    width: 100px;
    height: 50px;

    /* border: 2px solid #e7a6e7; */
    border: 2px solid #e2a8e256;
    border-radius: 50px;

    /* outer edge unglow */
    box-shadow: 
    inset var(--x) var(--y) var(--spread) var(--shadow), 
    inset var(--x) calc(-1*var(--y)) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) var(--y) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) calc(-1*var(--y)) var(--spread) var(--shadow),
    /* bottom shine */
    inset 0 1px 3px rgb(255, 255, 255),
    inset 0 -10px 4px white,
    inset 0 -20px 6px rgba(241, 174, 230, 0.781),
    /* top shine */
    inset 0 0 3px rgb(255, 255, 255),
    inset 0 10px 4px white,
    inset 0 20px 6px rgba(241, 174, 230, 0.781),
    /*inner non-glow*/
    /* inset 0 80px 100px rgba(240, 212, 212, 0.555); */
    inset 0 10px 50px rgba(255, 255, 255, 0.61);
    transition: 6s;

}
button:hover{
    color: #8a418a9d;
    background-color: #facafaf3;

    border: 1px solid rgba(226, 211, 224, 0.301);

    box-shadow: 
    inset var(--x) var(--y) var(--spread) var(--shadow), 
    inset var(--x) calc(-1*var(--y)) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) var(--y) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) calc(-1*var(--y)) var(--spread) var(--shadow),
    /* bottom shine */
    inset 0 8px 7px rgba(255, 220, 255),
    inset 0 12px 5px rgba(238, 224, 238),
    inset 0 20px 20px rgba(241, 201, 241);

    box-shadow: 
    inset var(--x) var(--y) var(--spread) var(--shadow), 
    inset var(--x) calc(-1*var(--y)) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) var(--y) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) calc(-1*var(--y)) var(--spread) var(--shadow),
    /* bottom shine */
    inset 0 -8px 7px rgba(255, 220, 255),
    inset 0 -12px 10px rgba(255, 137, 255, 0.8),
    inset 0 -20px 20px rgba(241, 201, 241),
    inset 100px -50px 50px #f1b5f1;;
}
button:active{
    background-color: #f3a7ee71;

    border: 1px solid rgba(63, 59, 62, 0.199);

    /* outer edge unglow */
    box-shadow: 
    inset var(--x) var(--y) var(--spread) var(--shadow), 
    inset var(--x) calc(-1*var(--y)) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) var(--y) var(--spread) var(--shadow), 
    inset calc(-1*var(--x)) calc(-1*var(--y)) var(--spread) var(--shadow),
    /* top shine */
    inset 0 8px 7px rgba(255, 220, 255),
    inset 0 12px 10px rgba(233, 179, 233, 0.8),
    inset 0 20px 20px rgba(241, 201, 241),
    /* bottom shine */
    inset 0 -8px 7px rgba(255, 220, 255),
    inset 0 -12px 10px rgba(233, 179, 233, 0.8),
    inset 0 -20px 20px rgba(241, 201, 241);

}
footer{
    color: white;
}